$primary-bg-color: #76716c;
$primary-header-color: #4f4a41;
$about-bg-color: #c2b9c4;
$about-header-color: #583564;
$projects-bg-color: rgba(213, 184, 159, 0.979);
$projects-header-color: #b56523;
$skills-bg-color: rgb(196, 205, 207);
// $skills-header-color: rgb(104, 153, 168);
// $skills-header-color: #2e6d9b;
$contact-header-color: rgb(52, 73, 34);
$contact-bg-color: rgb(187, 198, 179);
// $contact-header-color: rgb(36, 41, 36);

$primary-btn-color: rgba(255, 132, 0, 0.849);
$secondary-btn-color: rgba(245, 148, 44, 0.733);

$primary-btn-text-color: rgba(0, 0, 0, 0.689);
$secondary-btn-text-color: rgba(255, 255, 255, 0.786);

$about-box-color: rgba(25, 25, 25, 0.93);

$black: black;
$white: white;

$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;
